/* * {
  border: thin red solid;
} */

.items {
    display: flex;
    justify-content: center;
    width:74px;
  }
  
  .thumbnails {
    width: 10px;
    /* margin: 0 auto; */
  }
  
  table {
    width: 100%;
    margin: 0;
  } 
  
  td, th {
    text-align: center;
    padding-bottom: 15px;
  }
  
  .images {
    max-width:90%;
  }
  
  #selectNow {
    text-align: center;
    color: red;
    
  }
  
  h1 {
    text-align: center;
    font-size:30px;
    width:100%;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  .dot {
      background-color: grey;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
  }

  .square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    padding: 50px;
    gap: 30px;
    width:50%;
  }

  .square2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    padding:139px 0;
    gap: 30px;
    width:50%;
  }

  #parent {
      display:flex;
      background-color: lightgrey;
  }

  #top-right {
    text-align: center;
    width:50%;
  }

  


 

  
    