/* * {
  border: thin red solid;
} */

.items {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  gap: 10vw;
  justify-content: center;
  width:100%;
}

.images {
  max-width:100%;
}

.instructions {
  text-align: center;
  /* font-size:10vw; */
  width:100%;
}

  